<app-edit-header titleKey="COMPANY" (reset)="onReset()" (save)="onSave()"></app-edit-header>
<mat-progress-bar *ngIf="getLoading" mode="determinate" [value]="progress"></mat-progress-bar>
<div class="container buffer-lg-top">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-progress-spinner class="centered-content" *ngIf="saveLoading; else companyEditForm"
                            mode="indeterminate"></mat-progress-spinner>

      <ng-template #companyEditForm>
        <mat-card class="mat-elevation-z6" *ngIf="!editMode || (editMode && progress === 100)">
          <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="onSave()" autocomplete="off">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ 'NAME' | message }}</mat-label>
              <input matInput formControlName="name" type="text"/>

              <mat-error *ngIf="formValidationHelper.isNotValidRequired(companyForm, 'name'); else nameMaxLength">
                {{ 'VALIDATION_NAME_REQUIRED' | message }}
              </mat-error>

              <ng-template #nameMaxLength>
                <mat-error *ngIf="formValidationHelper.isNotValidMaxLength(companyForm, 'name')">
                  {{ 'VALIDATION_NAME_MAX_LENGTH' | message }}
                </mat-error>
              </ng-template>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ 'TAX_IDENTIFICATION_NUMBER' | message }}</mat-label>
              <input matInput formControlName="taxIdNumber" type="text"/>

              <mat-error
                *ngIf="formValidationHelper.isNotValidRequired(companyForm, 'taxIdNumber'); else taxIdNumberLength">
                {{ 'VALIDATION_TAX_ID_NUMBER_REQUIRED' | message }}
              </mat-error>

              <ng-template #taxIdNumberLength>
                <mat-error
                  *ngIf="formValidationHelper.isNotValidLength(companyForm, 'taxIdNumber'); else taxIdNumberPattern">
                  {{ 'VALIDATION_TAX_ID_NUMBER_LENGTH' | message }}
                </mat-error>
              </ng-template>

              <ng-template #taxIdNumberPattern>
                <mat-error
                  *ngIf="formValidationHelper.isNotValidPattern(companyForm, 'taxIdNumber'); else taxIdNumberUnique">
                  {{ 'VALIDATION_TAX_ID_NUMBER_PATTERN' | message }}
                </mat-error>
              </ng-template>

              <ng-template #taxIdNumberUnique>
                <mat-error *ngIf="formValidationHelper.isNotValid(companyForm, 'taxIdNumber', 'taxIdNumberUnique')">
                  {{ 'VALIDATION_TAX_ID_NUMBER_UNIQUE' | message }}
                </mat-error>
              </ng-template>
            </mat-form-field>
          </form>
        </mat-card>
      </ng-template>
    </div>
  </div>
</div>
