<div class="container buffer-lg-top">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <mat-card class="mat-elevation-z6 text-align-center">
        <mat-card-content class="text-danger">
          <h1>Oops!</h1>
          <h4>Something went wrong.</h4>
        </mat-card-content>

        <mat-card-actions>
          <a mat-raised-button class="error-button" color="primary" routerLink="/">Take me
            <mat-icon>home</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
