<mat-card class="mat-elevation-z6 card-item">
  <mat-form-field class="full-width">
    <mat-label>{{ 'NAME' | message }}</mat-label>
    <input matInput [value]="document.name" disabled/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>{{ 'TEMPLATE_NAME' | message }}</mat-label>
    <input matInput [value]="document.templateName" disabled/>
  </mat-form-field>

  <div align="right">
    <button mat-icon-button color="primary"
            [title]="'EDIT' | message" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="error-button-outline" [title]="'DELETE' | message" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
